{
    frankenphp
    auto_https off
}

:{$PORT:80} {
    root * /app/public
    encode zstd gzip

    # Proxy exclusivo para WebSockets
    reverse_proxy /app/* 127.0.0.1:8081

    # Servidor PHP y estáticos todo-en-uno
    php_server
}